#sliderGBAF {
    width: 100%;
}

#photo #sliderGBAF {
    width: 96%;
    margin-left: 1.5%;
}

#sectionGBAF {
    margin-top: 20px;
}

main#sectionPartner {
    margin-top: 20px;
    padding-bottom: 6px;
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
}

#sectionPartner article {
    position:relative;
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    width: 96%;
    margin-top: 6px;
    padding-bottom: 40px;
    margin-left: 1.5%;
}

#sectionPartner section img {
    width: 96%;
    border: 1px solid darkgray;
    margin-top: 6px;
    margin-left: 1.5%;
}

#sectionPartner section#resume {
   width: 96%;
    margin: auto;
}

button {
position: absolute;
    max-width: 80px;
    bottom:10px;
    right: 10px;
}

#resumePartner, #resumeGbaf, #textGbaf {
    text-align: justify;
}

#connected a {
    display: block;
    padding-bottom: 70px;
    border-bottom:1px solid rgba(204,204,204,0.5);
}


