h1,h2 {
    margin:auto;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 10px 100px / 120px;
    max-width: 700px!important;
}

label {
    width: 81%;
    background: rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px 100px / 120px;
    margin-left: 9%;
}

#submit {
    margin: auto;
    text-align: center;
    border-radius: 10px 100px / 120px;
}

form#connexion div, form#inscription div, form#formReset div , form#change_profile div{
    max-width:400px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form#connexion div:first-child, form#inscription div:first-child, form#formReset div:first-child, form#change_profile div:first-child {
    padding-top: 20px;
}

form, section#lien {
    margin: auto;
    max-width: 400px!important;

}

#question, #answer {
    width: 80%!important;
    text-align: left;
}

input {
    width: 80%;
    font-size: 0.8em;
    height: 30px;
    margin-left: 9%;
    border-bottom: olive 2px solid;
}

input.input_modif,.champs i{
    margin-top: 5px;
    width: 100%;
}

.champs i{
    text-align: right;
}

div.champs {
    margin: auto;
}

div.champs p {
    width: 48%;
    margin-left: 9%;
}

section#lien a {
    margin:auto;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 0.8em;
    font-style: italic;
    color: #655E5E;
}

form p {
    margin: 0 0 0 0 ;
}

p#watch_question {
   margin-left:30px;
}

select#question{
    border: rgba(204,204,204,0.2) 2px solid;
    height: 30px;
    font-size: 0.8em;
    margin-top: 6px;
    margin-left: 9%;
    border-bottom: olive 2px solid;
}

input#wipe_register, input#register{
    width: 20%;
    margin: 0;
}

label#wipe_register, label#register{
    width: 70%;
}