

h1{
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 10px 100px / 120px;
    margin-bottom: 30px;
    /*max-width: 700px!important;*/
}

label{
    background: rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px 100px / 120px;
}

#submit{
    margin: auto;
    text-align: center;
    border-radius: 10px 100px / 120px;
}

