@-webkit-keyframes mon_animation_inverse {
    0%{transform:translateX(0px);}
    100%{transform:translateY(10px)rotate(45deg);}
}

@keyframes mon_animation_inverse {
    0%{transform:translateX(0px);}
    100%{transform:translateY(10px)rotate(45deg);}
}

@-webkit-keyframes mon_animation {
    0%{transform:translateX(0px);}
    100%{transform:translateY(-10px)rotate(-45deg);}
}

@keyframes mon_animation {
    0%{transform:translateX(0px);}
    100%{transform:translateY(-10px)rotate(-45deg);}
}

@-webkit-keyframes mon_animation_inverse_retour {
    0%{transform:translateX(0px);}
    100%{transform:translateY(0px)rotate(0deg);}
}

@keyframes mon_animation_inverse_retour {
    0%{transform:translateX(0px);}
    100%{transform:translateY(0px)rotate(0deg);}
}

@-webkit-keyframes mon_animation_retour {
    0%{transform:translateX(0px);}
    100%{transform:translateY(0px)rotate(0deg);}
}

@keyframes mon_animation_retour {
    0%{transform:translateX(0px);}
    100%{transform:translateY(0px)rotate(0deg);}
}

header{
    width: 100%;
    position: fixed;
    background-color: white;
}


.bar {
    position: absolute;
    display: block;
    width: 40px;
    height: 6px;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
    background-color:red;
    right: 40px!important;
}


.bar:nth-child(2) {
    top:70px;
}

.bar:nth-child(3) {
    top:80px;
}

.bar:nth-child(4) {
    top:90px;
}

.checkbox {
    border:olive 2px solid;
    position:absolute;
    right: 40px!important;
    top:60px!important;
    width: 40px!important;
    height: 40px!important;
    z-index: 7;
    cursor: pointer;
    opacity: 0;

}

.page a{
    text-decoration: none;
    color: white;
}

.page {
    width: 100px;
    margin-top: 20px;
}

.page a:hover {
    color:black;
}

#windows_menu {
    display: none;
    flex-direction: column;
    position:absolute;
    text-align: center;
    padding-left: 50px;
    top: 90px;
    right: 0;
    list-style-type: none;
    background-color: gray;
    width: 150px;
    height: 140px;
    border: inset;
    z-index: 4;
}

.checkbox:checked ~ #windows_menu {
    display:flex;
}

.checkbox:checked ~ .bar:nth-child(4) {
     animation: mon_animation 1s;
    -webkit-animation: mon_animation 1s;
     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.checkbox:checked ~ .bar:nth-child(2) {
     animation: mon_animation_inverse 1s;
    -webkit-animation: mon_animation_inverse 1s;
     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
     transform: rotate(45deg);
}

.checkbox:checked ~ .bar:nth-child(3) {
      display: none;
}


@media (min-width: 768px) {

.bar {
    right: 89px!important;
}
.checkbox {
    right: 89px!important;
}



}