

#sliderGBAF{
    width: 100%;
}

#photo{
    padding: 0;
}

#sectionGBAF{
    margin-top: 20px;
}

main#sectionPartner{
    margin-top: 20px;
    border: 2px solid darkgray;
    display: flex;
    flex-direction: column;
}

#sectionPartner article {
    display: flex;
    flex-direction: column;
    border: 2px solid darkgray;
    width: 96%;
    margin-top: 6px;
    margin-left: 1.5%;
}

#sectionPartner section img{
    width: 96%;
    border: 2px solid darkgray;
    margin-top: 6px;
    margin-left: 1.5%;
}

#sectionPartner section#resume{
   width: 96%;
    margin: auto;
}

#more{
    margin-left: 75%;
}



