body{
    margin:0 ;
}

main{
    margin: 0px 20px 0px 20px;
}
.haut{
    color:gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:2px solid darkgray;
    padding-bottom: 10px;
}

.bas{
    display: flex;
    justify-content: center;
    color:gray;
    border-top:2px solid darkgray;
    margin-top: 30px;
}

#logoGBAF{
    width: 60px;
    height:70px;
}
