<h1 id="titlePartner">CDE <i>(Chambre Des Entrepreneurs)</i></h1>
<p class="textPartner">accompagne les entreprises dans leurs démarches de formation.
    Son président est élu pour 3 ans par ses pairs, chefs d’entreprises et présidents des CDE.</p>