{%  extends 'template.twig' %}

{% block head %}
    - reset Password
{% endblock %}

{% block content %}

    <div id="content_connexion" >

        <h2> RE-INITIALISATION PASSWORD</h2>

        {% if session.username is not defined  %}
            <form id="formReset" method="post" action="index.php?action=back!watch_question">

                <div class="champs">
                    <label  for="username">Votre username <br>  <i style="color:red; font-size: 0.7em; margin-left: 0">{{ message1 }}</i></label>
                    <input  type="text" class="form-control" id="username" aria-describedby="pseudo" placeholder="Votre username" name="username"required="required" value="{{ session.username }}">
                </div>
            {% else %}
            <form id="formReset">
               <div class="champs">
                     <label  for="username">Votre username</label>
                     <p>{{ session.username }}</p>
               </div>
        {% endif %}


        {% if session.question is not defined  %}
            <div class="champs">
                    <input type="submit" id="submit" value="question secrète" />
                </div>

            </form>

        {% else %}
        {% if answer != 'ok' %}
            {% if session.question == 'mother'%}
                    <p id="watch_question">  Quel est le prénom de votre mère?</p>
                {% elseif session.question == 'pets'  %}
                    <p id="watch_question">Quel était le nom de votre premier animal de compagnie?</p>
                {% elseif session.question == 'color'  %}
                    <p id="watch_question">Quelle est votre couleur préférée?</p>
                 {% else %}
                    <p style="color:red">Désolée, une erreur s'est produite</p>
            {% endif %}

            </form>
        {% endif %}

            {% if session.question == 'mother' or session.question == 'pets' or session.question == 'color' %}

                {% if answer != 'ok' %}
                <form id="formReset" method="post" action="index.php?action=back!control_question">
                        <div class="champs">
                            <label for="answer">Votre réponse</label>
                            <input type="text" class="form-control" id="answer" aria-describedby="answer" placeholder="Votre réponse" name="answer" required="required">
                        </div>

                   {% if answer == 'false' %}
                       <p class="message_formReset" style="color:red; font-size: 0.7em"> La réponse à la question est erronée. </p>
                   {% endif %}

                   <div class="champs">
                       <input type="submit" id="submit" value="Répondre" />
                   </div>
                 </form>

               {% endif %}

            {% endif %}

            {% if answer == 'ok'  %}
            <form id="formReset" method="post" action="index.php?action=back!reset_mdp">
                <div class="champs">
                    <label for="user_password">Nouveau password</label>
                    <input type="password" class="form-control" id="user_password" placeholder="Password" name="user_password" required="required">
                </div>

                <div class="champs">
                    <input type="submit" id="submit" value="Envoyer" />
                </div>
            </form>
            {% endif %}

{% endif %}

        <aside id="lien">
            <a href="index.php?action=user!inscription">Créer un compte</a>
      <br>
            <a href="index.php?action=user!connexion"> Se connecter </a>
        </aside>

    </div>
{% endblock %}
