{%  extends 'template.twig' %}

{% block head %}
    - Mentions Legales
{% endblock %}


{% block content %}

<div id="content_mentions">

    <article >

<h1>MENTIONS LEGALES :</h1>

<p style="text-align:justify"><strong> </strong><br />
Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://www.izycom-communication.fr/userbank" target="_blank">www.izycom-communication.fr/userbank</a> les informations suivantes :</p>

<p style="text-align:justify"><strong>ÉDITEUR</strong></p>

<p style="text-align:justify">Le site <a href="http://www.izycom-communication.fr/userbank" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">www.izycom-communication.fr/userbank</a> est la propriété exclusive de <strong>Sas </strong><strong>GBAF</strong>, qui l'édite.</p>

<p style="text-align:justify"><strong>GBAF</strong><strong> </strong><br />
<strong>Sas </strong>au capital de<strong> </strong><strong>3000 </strong>€ <br /> Tél  : <strong>01 93 84 67 38</strong></p>

<p style="text-align:justify"><strong>34 rue de la Police </strong><strong>75400 PARIS</strong><br />
Immatriculée au Registre du Commerce et des Sociétés de  <strong>234234234233 </strong>sous le numéro<strong> </strong><strong>234234234233</strong><strong> </strong></p>

<p style="text-align:justify">Numéro TVA intracommunautaire : <strong>FR46 234234234233</strong><br />
Adresse de courrier électronique : <strong>contact@gbaf.fr</strong> <br />
 <br />
Directeur de la  publication : <strong>GBAF</strong><br />
Contactez le responsable de la publication : <strong>contact@gbaf.fr</strong></p>

<p style="text-align:justify"> </p>

<p style="text-align:justify"><strong>HÉBERGEMENT</strong></p>

<p style="text-align:justify">Le site est hébergé par <strong>OVH 2 rue Kellermann  59100 Roubaix</strong><br />
    <u><strong>CREDITS :</strong></u> les mentions légales ont étés générées par <strong><a href="https://www.generer-mentions-legales.com">mentions légales</a></strong></p>

    </article>

</div>

{% endblock %}
