<div class="row">
    <ul id="menu" class="nav nav-tabs nav-justified col-xs-6">
        <li ><a href="index.php?action=user!home_show">Accueil</a></li>
        <li ><a href="index.php?action=user!profile_show">Profil</a></li>
    </ul>
</div>