<nav id="menu" >

        <input class="checkbox checkbox_menu" type="checkbox" />

        <span class="bar open"></span>
        <span class="bar open"></span>
        <span class="bar open"></span>

        <ul id="windows_menu">
            <li class="page" ><a href="index.php?action=user!home_show">Accueil</a></li>
            <li class="page" ><a href="index.php?action=user!profile_show">Profil</a></li>
        </ul>
</nav>
