<div id="menu" >

        <input class="checkbox" type="checkbox" />

        <div class="bar open"></div>
        <div class="bar open"></div>
        <div class="bar open"></div>

        <ul id="windows_menu">
            <li class="page" ><a href="index.php?action=user!home_show">Accueil</a></li>
            <li class="page" ><a href="index.php?action=user!profile_show">Profil</a></li>
        </ul>
</div>
