
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/styletemplate.css" rel="stylesheet">
    <link href="css/styleconnected.css" rel="stylesheet">

    <title>GBAF</title>
</head>
<body>
<header  id="header" class="hautetbas haut">
    <a href="index.php?action=user!connexion"><img id="logoGBAF" src="images/logoGBAF.jpg" alt="logoGBAF" title="logoGBAF"></a>
    <p>Bonjour {% if session.username is defined %}
        {{ session.prenom |capitalize }} {{ session.nom |upper }}
        <a href = "index.php?action=user!logout" >Se deconnecter</a></p>
        {% endif %}
</header>

<body>



{% block content %}



{% endblock %}



<footer class="hautetbas bas">
    <a id="mentionslegales"> | mentions légales &nbsp; </a>
    <a id="contact"> | contact |</a>
</footer>


</body>

</html>