
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="GBAF, le point de rendez-vous des informations utiles" />

    <link href="css/template.css" rel="stylesheet">
    <link href="css/connected.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/partner.css" rel="stylesheet">
    <link href="css/mentions_legales.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/aee0f1128d.js" crossorigin="anonymous"></script>

    <title>GBAF</title>

</head>

<body>

<header>

{% if session.prenom is defined  %}

    {% include("menu.twig") %}

            <a href="index.php?action=user!home_show"><img id="logoGBAF" src="images/logoGBAF.jpg" alt="logoGBAF" title="logoGBAF"></a>
        {% else %}
            <a href="index.php?action=user!connexion"><img id="logoGBAF" src="images/logoGBAF.jpg" alt="logoGBAF" title="logoGBAF"></a>
    {% endif %}
   <aside>

        {% if session.prenom is defined  %}
            <p>Bonjour {{ session.prenom |capitalize }} {{ session.nom |upper }} </p>
            <a href = "index.php?action=user!logout" > &nbsp; Se déconnecter</a>
        {% else %}
            </p>
        {% endif %}
    </aside>

</header>



{% block content %}

{% endblock %}

<footer class="hautetbas bas">
    <p>
    <a id="mentions_legales" href="index.php?action=user!mentions" > | mentions légales &nbsp; </a>
    <a id="contact" href="index.php?action=user!contact"> | contact |</a>
    </p>
</footer>

</body>

</html>