
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="public/css/styletemplate.css" rel="stylesheet">
    <title>GBAF</title>
</head>
<body>
<header id="menu" class="hautetbas haut">
    <img id="logoGBAF" src="public/images/logoGBAF.jpg" alt="logoGBAF" title="logoGBAF">
</header>
<body>

{% block content %}{% endblock %}

<footer class="hautetbas bas">
    <div id="mentionslegales">mentions legales</div>
    <div id="contact">contact</div>
</footer>

</body>

</html>